
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function ()
            {
                
                var E={ };
                E.EMPNO = $("#TXTEMPNO").val();
                E.ENAME = $("#TXTENAME").val();
                E.JOB = $("#JOB").val();
                E.MGR = $("#MGR").val();
                E.HIREDATE = $("#HIREDATE").val();

                E.SAL = $("#SAL").val();

                E.COMM = $("#COMM").val();

                E.DEPTNO = $("#DEPTNO").val();


                E.Grade = $("#GRADE").val();
                alert(JSON.stringify(E));
                $.ajax({
                    type: "POST",
                    url: "/Sample/InsertEmp/",
                    data: JSON.stringify(E),
                    contentType: "application/json;charset=utf-8",
                    datatype: JSON,
                    async: false,

                    success: function (data) {
                        alert(data);
                    }
                });
            });
        });

    </script>


</head>
<body>
    <table>
        <tr><td>EMPNO</td> <td><input type="text" id="TXTEMPNO" /></td></tr>
        <tr><td>ENAME</td> <td><input type="text" id="TXTENAME" /></td></tr>
        <tr><td>JOB</td> <td><input type="text" id="JOB" /></td></tr>
        <tr><td>MGR</td> <td><input type="text" id="MGR" /></td></tr>
        <tr><td>HIREDATE</td> <td><input type="text" id="HIREDATE" /></td></tr>
        <tr><td>SAL</td> <td><input type="text" id="SAL" /></td></tr>
        <tr><td>COMM</td> <td><input type="text" id="COMM" /></td></tr>
        <tr><td>DEPTNO</td> <td><input type="text" id="DEPTNO" /></td></tr>
        <tr><td>GRADE</td> <td><input type="text" id="GRADE" /></td></tr>

    </table>
    <input type="submit" id="btnsubmit" />
</body>

</html>