
@{
    ViewBag.Title = "updateRecord";
}

<h2>updateRecord</h2>

<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function ()
            {

                var E = $("#TXTEMPNO").val();

                $.ajax({
                    type: "POST",
                    url: "/Sample/Display/",
                    data: "{'EMPNO':" + E + "}",
                    contentType: "application/json;charset=utf-8",
                    datatype: JSON,
                    async: false,

                    success: function (response) {
                        if (response = 'success')
                            alert(data);
                        else alert("Invalid emp");
                    }
                });
            });
        });

    </script>


</head>
<body>
    <table>
        <tr><td>EMPNO</td> <td><input type="text" id="TXTEMPNO" /></td></tr>

    </table>
    <input type="submit" id="btnsubmit" />
</body>

</html>

